@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin bgColor($color){
  background-color: $color;
}

.container {
  display: grid;
  grid-template-columns: 20% auto 20%;
  @include bgColor(black);
  height: 600px;
}

.item{
  background-color: white;
  border: 1px solid red;
}

.itemWrap{
  margin: 25%;
}

.ageContainer {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  @include size(300px, 300px);
}


.square{
  @include size(100px);
  @include bgColor(rgba(128, 128, 128, 0.31));
}

.squareBase{
  @include size(300px);
  position: absolute;
}
.squareBase svg{
  margin: 43px;
}